.nav-link{
	color: whitesmoke;
}

*{
	font-family: 'Roboto', sans-serif;
}	

h1{
	font-size: 2rem;
}
#landing{
	background: url(https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.navbar{
	background-color:  #015761;
}
#intro{
	background: url(https://static.vecteezy.com/system/resources/previews/001/335/135/large_2x/abstract-dynamic-blue-background-free-vector.jpg);
}


#yellowtext{
	color: yellow;
}
#whitetext{
	color: white;
}

#greytext{
	color: #24db24;
}

#aboutme{
	color: #08fdd8;
	font-size: 3rem;
	}
#about{
	background: url(https://wallpapercave.com/wp/wp3077568.jpg);
}

.fab{
	font-size: 2rem;
	color: white;	
}

#projects{
	background: url(https://wallpapercave.com/wp/wp3077568.jpg);
}

#image{
	border-style: solid;
	border-width: 3px;
	border-color: #24db24;;
}
#aboutcontainer{
background-color: #f0ecf4;
}

#skills{
	background-color: black;
}	

#footer{
	background-color: #015761;

}
